[Unit]
Description=HDFS JournalNode

[Service]
Type=forking
User={{options.user.name}}
Group={{options.group.name}}
PIDFile={{options.pid_dir}}/hadoop-hdfs-journalnode.pid
ExecStart=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{options.conf_dir}} --script hdfs start journalnode
ExecReload=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{options.conf_dir}} --script hdfs restart journalnode
ExecStop=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{options.conf_dir}} --script hdfs stop journalnode
LimitNOFILE={{options.user.limits.nofile}}

[Install]
WantedBy=multi-user.target
