[Unit]
Description=HDFS ZKFC

[Service]
User=hdfs
Group=hadoop
Type=forking
PIDFile={{options.pid_dir}}/hadoop-hdfs-zkfc.pid
ExecStart=/usr/hdp/current/hadoop-hdfs-zkfc/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon start zkfc
ExecReload=/usr/hdp/current/hadoop-hdfs-zkfc/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon restart zkfc
ExecStop=/usr/hdp/current/hadoop-hdfs-zkfc/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon stop zkfc
LimitNOFILE={{options.user.limits.nofile}}

[Install]
WantedBy=multi-user.target
