[Unit]
Description=HDFS JournalNode

[Service]
Type=forking
User={{user.name}}
Group={{group.name}}
PIDFile={{pid_dir}}/hadoop-hdfs-journalnode.pid
ExecStart=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{conf_dir}} --script hdfs start journalnode
ExecReload=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{conf_dir}} --script hdfs restart journalnode
ExecStop=/usr/hdp/current/hadoop-hdfs-journalnode/../hadoop/sbin/hadoop-daemon.sh --config {{conf_dir}} --script hdfs stop journalnode

[Install]
WantedBy=multi-user.target
