[Unit]
Description=YARN ATS HBase Master

[Service]
Type=forking
User={{options.ats_user.name}}
Group={{options.ats_group.name}}
PIDFile={{options.pid_dir}}/hbase-{{options.ats_user.name}}-master.pid
ExecStart=/usr/hdp/current/hbase-master/bin/hbase-daemon.sh --config {{options.conf_dir}} start master
ExecReload=/usr/hdp/current/hbase-master/bin/hbase-daemon.sh --config {{options.conf_dir}} restart master
ExecStop=/usr/hdp/current/hbase-master/bin/hbase-daemon.sh --config {{options.conf_dir}} stop master
LimitNOFILE={{options.user.limits.nofile}}

[Install]
WantedBy=multi-user.target
