[Unit]
Description=HDFS Datanode

[Service]
Type=forking
PIDFile={{options.pid_dir}}/hadoop-hdfs-root-datanode.pid
ExecStart=/usr/hdp/current/hadoop-hdfs-datanode/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon start datanode
ExecReload=/usr/hdp/current/hadoop-hdfs-datanode/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon restart datanode
ExecStop=/usr/hdp/current/hadoop-hdfs-datanode/../hadoop/bin/hdfs --config {{options.conf_dir}} --daemon stop datanode
LimitNOFILE={{options.user.limits.nofile}}

[Install]
WantedBy=multi-user.target
