{% for name, svc in services %}{% if svc.hosts %}{% for host in svc.hosts %}
define service {
  name                  {{ name }}
  service_description   {{ name }}
  host_name             {% if host | isObject %}{{ host.hostname }}{% else %}{{ host }}{% endif %}
  use                   {% if host | isObject %}{{ host.use }}{% else %}{{ svc.use }}{% endif %}{% for s, val in svc %}{% if s == 'hosts' %}{% elif s == 'hostgroups' %}
  hostgroup_name        {% if val | isArray %}{{ val | join(",") }}{% else %}{{ val }}{% endif %}{% elif s == 'contactgroups' %}
  contact_groups        {% if val | isArray %}{{ val | join(",") }}{% else %}{{ val }}{% endif %}{% elif s == 'check_command' %}
  check_command         {% if host | isObject %}{{ val | replace('$HOSTNAME$', host.hostname) }}{% else %}{{ val | replace('$HOSTNAME$', host) }}{% else %}
  {{s}}                 {% if val | isArray %}{{ val | join(",")}}{% else %}{{ val }}{% endif %}{% endif %}{% endfor %}
}{% endfor %}{% else %}
define service {
  name                  {{ name }}
  service_description   {{ name }}{% for s, val in svc %}{% if s == 'hostgroups' %}
  hostgroup_name        {% if val | isArray %}{{ val | join(",") }}{% else %}{{ val }}{% endif %}{% elif s == 'contactgroups' %}
  contact_groups        {% if val | isArray %}{{ val | join(",") }}{% else %}{{ val }}{% endif %}{% else %}
  {{s}}                 {% if val | isArray %}{{ val | join(",")}}{% else %}{{ val }}{% endif %}{% endif %}{% endfor %}
}{% endif %}{% endfor %}
